@prefix: login;

.@{prefix} {
  height: 100%;
  background-color: #e9e8ff;
  overflow: hidden;
  #content {
    width: 30%;
    height: 80%;
    margin: 5% auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #999999;
  }

  #content_logo {
    display: flex;
    justify-content: center;
    padding-bottom: 40%;
    overflow: hidden;
    margin: 3% auto;
    width: 50%;
  }

  #content_logo img {
    position: absolute;;
    width: 100%;
  }

  #content_title {
    font-size: 24px;
    font-weight: bold;
    color: #6c63ff;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 6%;
  }

  #content_input {
    width: 80%;
    margin: 0 auto;
  }
}
